<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/style.css">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="/script.js"></script>

</head>
<body>
    <div class="join" id="join">
        <button class="join-button" onclick="clear()" id="join">Join Room</button>
    </div>
    <h1 class="title">Ashif's Real Time Chat App</h1>
    <div class="container">
        <div class="msgs" id="msgs">
        </div>
        <div class="inputs">
            <input type="text" id="msginput" name="" placeholder="Type a message" required>
            <button onclick="sendMessage()" id="send">Send</button>
        </div>
    </div>



    <script>
        

    </script>
</body>
</html>